<div class="bgc">
  <header>
    <!-- start topbar -->
    <div class="topbar">
      <div class="container">
        <!-- <ul class="list-inline pull-left hidden-sm hidden-xs"> -->
          <li><span class="text-primary color"  id="que" >Have a question?</span> Call +123 4567 891</li>
        <!-- </ul> -->

        <ul class="topbarnav pull-right">


          <li class="linkdown">
            <a href="#">
              <img src="assets/img/flags/us.png" class="mr5" alt="">
              <span class="hidden-xs"> English<i class="fa fa-angle-down ml5"></i>
              </span>
            </a>
          </li>
          <li class="linkdown">
            <a href="#">
              <i class="fa fa-user mr5"></i>
              <span class="hidden-xs">
                My Account
                <i class="fa fa-angle-down ml5"></i>
              </span>
            </a>
            <ul class="cd-link">

              <li><a (click)="onLogoutClick()" mat-button color="primary">Logout</a></li>
              <li><a href="#">Account</a></li>
            </ul>
          </li>
        </ul>
        <div id="imgtop" >
        <h1><span style="margin-top: 0px;padding-top: 0px;" ><img src="../../assets/giftvilla_logo.jpg" height="83px" width="83px"></span></h1>
        </div>
        <div id="heading"  >
          <h1>Giftvilla WELCOME </h1>
        </div>
      </div>
    </div>
    <!-- end topbar -->
  </header>
</div>
