<div class="bgc">
  <header>
    <!-- start topbar -->
    <div class="topbar">
      <div class="container">
        <!-- <ul class="list-inline pull-left hidden-sm hidden-xs"> -->
          <li><span class="text-primary color">Have a question?</span> Call +123 4567 891</li>
        <!-- </ul> -->

        <ul class="topbarnav pull-right">


          <li class="linkdown">
            <a href="#">
              <img src="assets/img/flags/us.png" class="mr5" alt="">
              <span class="hidden-xs"> English<i class="fa fa-angle-down ml5"></i>
              </span>
            </a>
          </li>
          <li class="linkdown">
            <a href="#">
              <i class="fa fa-user mr5"></i>
              <span class="hidden-xs">
                My Account
                <i class="fa fa-angle-down ml5"></i>
              </span>
            </a>
            <ul class="cd-link">

              <li><a (click)="onLogoutClick()" mat-button color="primary">Logout</a></li>
              <li><a href="#">Account</a></li>
            </ul>
          </li>
        </ul>
        <h1 class="demo"><span><img src="../../assets/giftvilla_logo.jpg" height="50px" width="50px"></span><p style="text-align: center;"></h1>
          <p>Giftvilla WELCOME :-</p>
      </div>
    </div>
    <!-- end topbar -->
  </header>
</div>
