<div class="back">
  <section class="main-contain bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single-contact-option text-center">
            <div class="d1">
              <i style="padding-left:50px;" class="fa fa-home"></i>
              <h6>address street</h6>
              <p>Address : Nagrik provision Store,</p>
              <p> Govermanet A colony,</p>
              <p>Shahibaug,Ahmedabad-38004.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single-contact-option text-center">
            <div class="d2">
              <i class="fa fa-phone" style="padding-left:50px;"></i>
              <h6>Number phone</h6>
              <p>Phone 1: 7777989890</p>
              <p>Phone 2: 8780870913</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single-contact-option text-center">
            <div clas="d3">
              <i class="fa fa-fax" style="padding-left:50px;"></i>
              <h6>Number phone</h6>
              <p>Fax 1: 0(123) 567 890</p>
              <p>Fax 2: 0(456) 567 890</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="single-contact-option text-center">
            <div class="d4">
              <i class="fa fa-envelope-o" style="padding-left:50px;"></i>
              <h6>Address email</h6>
              <a href="mailto:admin@craftdzine.com">info@craftdzine.com</a>
              <a href="mailto:admin@craftdzine.com">Nameyour@craftdzine.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
