<app-header></app-header>
<div id="editorder" >
<div clas="container">
  <form [formGroup]="track_update" (ngSubmit)="onTrackSubmit()" class="container">
    <div class="form-group">
      <select formControlName="status"  style=" width: 80%;
      padding: 12px 20px;
      margin: 10px 0px 0px 0px;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid red;">
        <option [selected]="track_id">Packing</option>
        <option [selected]="track_id">On the Way</option>
        <option [selected]="track_id">Delivered</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <button type="submit" mat-button color="primary"  id="btn1" >UPDATE</button>
      <button class="btn btn-primary"  id="btn2" (click)="onTrackCancel()">Cancel</button>
    </div>
  </form>
</div>
</div>
